<!DOCTYPE html>
<html lang="en">
<head>
    <title>Special Offers</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="assets/images/favicon.ico">
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/superfish.js"></script>
    <script src="assets/js/jquery.ui.totop.js"></script>
    <script src="assets/js/jquery.equalheights.js"></script>
    <script src="assets/js/jquery.mobilemenu.js"></script>
    <script src="assets/js/jquery.easing.1.3.js"></script>
    <script>
        $(document).ready(function(){
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="assets/css/ie.css">
    <![endif]-->
</head>
<body>
<!--==============================header=================================-->
<header>
    <div class="container_12">
        <div class="grid_12">
            <div class="menu_block">
                <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                    <ul class="sf-menu">
                        <li><a href="/">Home</a></li>
                        <li class="current"><a href="/hottravel">HOT TOURS</a></li>
                        <li><a href="/about">SPECIAL OFFERS</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
        </div>
        <div class="grid_12">
            <h1>
                <a href="index.html">
                    <img src="assets/images/logo.png" alt="Your Happy Family">
                </a>
            </h1>
        </div>
    </div>
</header>
<!--==============================Content=================================-->
<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - February 10, 2014!</div>
    <div class="container_12">
        <div class="grid_8">
            <h3>Special offers</h3>
            <div class="block2">
                <h3>1. About this site</h3>
                <p>The World Travel Guide (WTG) is the flagship digital consumer brand within the Columbus Travel Media portfolio. A comprehensive guide to the world’s best travel destinations, its print heritage stretches back 30 years, with the online portal reaching its 19-year anniversary in 2018. Available in English, German, French and Spanish versions, the WTG provides detailed and accurate travel content designed to inspire global travellers. It covers all aspects, from cities to airports, cruise ports to ski and beach resorts, attractions to events, and it also includes weekly travel news, features and quizzes. Updated every day by a dedicated global editorial team, the portal logs 1 million+ unique users monthly.</p>
                <h3>2. Who we are</h3>
                <p>Columbus Travel Media (CTM) is one of the most respected and successful names in the global travel industry, with a long and rich company heritage spanning 30 years. The definitive resource for global travel content, its reputation has been built on journalistic credibility. CTM is dedicated to the provision of objective, accurate, informative and reliable travel content in various formats, including the World Travel Guide for consumers, Columbus Travel Professional for travel industry professionals and extensive licensed and bespoke content for commercial partners through its specialist division, Columbus Content Solutions. A fast-growing, pioneering and diverse global travel content business, contact us to find out more about us.</p>
                <h3>3. Our team</h3>
                <p>We&#8217;ve been travelling the world for over 30 years, building a reputation for providing quality travel content that&#8217;s inspiring, engaging and informative. With all of our guides and features written and updated by a global network of expert travel writers that includes some of the best names in the business, we pride ourselves on producing content that stands out from the crowd. <span style="color: #ff0000;"><strong>Regrettably, we aren&#8217;t able to accept guest posts and won&#8217;t be able to reply to guest post requests.</strong></span></p>
                <h3>4. Content solutions</h3>
                <p>As one of the world’s leading travel content providers, Columbus Travel Media (CTM) specialises in two distinct services for brands and retailers; its flexible approach means it can package existing travel content, or its editorial team can develop unique, accurate and tailored content in a style and tone to match briefs. CTM is the definitive supplier for many international travel brands.</p>
                <h3>5. Contact Us</h3>
                <p><b>Editorial</b></p>
                <p>travel.editorial@columbustravelmedia.com</p>
                <p><a href="https://www.worldtravelguide.net/contact-ad-team/">click here</a> to use the enquiry form.</p>
                <p><span style="color: #ff0000;"><strong>Regrettably, we aren&#8217;t able to accept guest posts and won&#8217;t be able to reply to guest post requests.</strong></span></p>
                <p><b>Book sales</b></p>
                <p>booksales@columbustravelmedia.com</p>
                <p>Tel: +44 (0) 203 740 3240.</p>
                <p><a href="https://www.worldtravelguide.net/book-shop/">click here</a> or contact us for more information</p>
                <p><b>Postal address</b></p>
                <p>Columbus Travel Media Ltd</p>
                <p>S19 Monohaus</p>
                <p>143 Mare Street</p>
                <p>London</p>
                <p>E8 3FW</p>
                <p>UNITED KINGDOM</p>
                <p><b>General enquiries</b></p>
                <p>Tel: + 44 (0) 203 740 3240.</p>
                <h3>6. Testimonials</h3>
                <p>What the papers say:</p>
                <p>&#8220;A Godsend to the Globetrotter.&#8221; <i>USA Today</i></p>
                <p>&#8220;The best information bank on the internet for agents and travellers.&#8221; <i>Mail on Sunday</i></p>
                <p>&#8220;You&#8217;ll find all the answers here&#8230;..it&#8217;s packed full of useful information for travellers and it&#8217;s the sort of stuff you won&#8217;t find out at your local travel agent.&#8221; <i>Internet Magazine</i></p>
                <p>&#8220;Great for those short on holiday ideas or those wanting to find out more about a country before visiting.&#8221; <i>The Sunday Times</i></p>
                <p>&#8220;Most useful guide I have ever seen in my entire life.&#8221; <i>Independent on Sunday</i></p>
                <p>&#8220;Want a heads up on what the visa regulations are for visitors to India, how much duty-free you can bring back from France, what the main sights are in Yemen or when the best time of year to go to Jamaica is? It&#8217;s all available here, and quickly searchable by country or region.&#8221; <i>The Independent</i></p>
                <h3>7. Feedback from our users:</h3>
                <p>&#8220;I&#8217;ve travelled the net for information on various cities and countries and have had the best results finding what I need to know about countries of interest at the World Travel Guide site. Keep up the good work.&#8221; <i>F LaGare, Arizona, USA</i></p>
                <p>&#8220;I have used this service to determine holiday trip destinations and I was impressed that the site actually contains USEFUL information for a generic traveller. I wasn&#8217;t expecting tip rates, internal transportation schedules etc. for an exotic country, such as Kenya.&#8221; <i>Sami Reijonen, Finland</i></p>
                <p>&#8220;This site is what makes the WWW worthwhile. I found all the information I had been looking and asking countless people for. I will now recommend your site not only when needed but also just a good place to expand one&#8217;s knowledge. Thanks.&#8221; <i>Eric Duncan, Washington DC, USA</i></p>
                <p>&#8220;The World Travel Guide is the most complete source of information for a travel agent. It is always on my desk.&#8221; <i>Marco Agustoni, Secretary General, World Association of Travel Agents</i></p>
                <p>&#8220;How did we ever manage without it? A mature publication for a maturing industry.&#8221; <i>Colin Trigger, President, Association of British Travel Agents</i></p>
                <p>&#8220;World Travel Guide is amazing! It is so helpful, I don&#8217;t know how anyone manages to gather interesting and useful information without WTG.&#8221; <i>Aleah Skerrett, London, UK</i></p>
                <p>&#8220;The World Travel Guide is a comprehensive worldwide reference book for all segments of the travel and tourism industry.&#8221; <i>Jeanne Epping, President, American Society of Travel Agents</i></p>

</div>
<!--==============================footer=================================-->
<footer>
    <div class="container_12">
        <div class="grid_12">
            <div class="socials">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google-plus"></a>
            </div>
            <div class="copy">
                Your Trip (c) 2020 | <a href="#">Privacy Policy</a> | Website Template Designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a>
            </div>
        </div>
    </div>
</footer>
<script>
    $(function (){
        $('#bookingForm').bookingForm({
            ownerEmail: '#'
        });
    })
</script>
</body>
</html>