<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mosko Travel</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="assets/images/favicon.ico">
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/superfish.js"></script>
    <script src="assets/js/jquery.ui.totop.js"></script>
    <script src="assets/js/jquery.equalheights.js"></script>
    <script src="assets/js/jquery.mobilemenu.js"></script>
    <script src="assets/js/jquery.easing.1.3.js"></script>
    <script>
        $(document).ready(function(){
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="assets/css/ie.css">
    <![endif]-->
</head>
<body>
<!--==============================header=================================-->
<header>
    <div class="container_12">
        <div class="grid_12">
            <div class="menu_block">
                <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                    <ul class="sf-menu">
                        <li><a href="index.html">ABOUT</a></li>
                        <li><a href="index-1.html">HOT TOURS</a></li>
                        <li class="current"><a href="index-2.html">SPECIAL OFFERS</a></li>
                        <li><a href="index-3.html">BLOG</a></li>
                        <li><a href="index-4.html">CONTACTS</a></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
        </div>
        <div class="grid_12">
            <h1>
                <a href="index.html">
                    <img src="assets/images/logo.png" alt="Your Happy Family">
                </a>
            </h1>
        </div>
    </div>
</header>
<!--==============================Content=================================-->
<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - February 10, 2014!</div>
    <div class="container_12">
        <div class="grid_8">
            <h3>detail of travel</h3>
            <div class="block2">
                <img src="assets/images/page3_img2.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                    <div class="text1 col1"><a href="#">Moscow</a></div>
                    <p>Cras facilisis, nulla vel viverra auctor, leo gna sodales felis, quis malesuada nibh odio ut velit. Proin pharetra luctus diam, a celerisque eros convallis accumsan. </p>Maecenas vehicula egestas venenatis. Duis massa elit, auctor non pellentesque vel
                    <br>
                    <a href="#" class="link1">LEARN MORE</a>
                </div>
            </div>

            <div class="clear"></div>
            <div class="grid_6">
                <h3>Booking Form</h3>
                <form id="bookingForm">
                    <div class="fl1">
                        <div class="tmInput">
                            <input name="Name" placeHolder="Name:" type="text" data-constraints='@NotEmpty @Required @AlphaSpecial'>
                        </div>
                        <div class="tmInput">
                            <input name="Country" placeHolder="Country:" type="text" data-constraints="@NotEmpty @Required">
                        </div>
                    </div>
                    <div class="fl1">
                        <div class="tmInput">
                            <input name="Email" placeHolder="Email:" type="text" data-constraints="@NotEmpty @Required @Email">
                        </div>
                        <div class="tmInput mr0">
                            <input name="Hotel" placeHolder="Hotel:" type="text" data-constraints="@NotEmpty @Required">
                        </div>
                    </div>
                    <div class="clear"></div>
                    <strong>Check-in</strong>
                    <label class="tmDatepicker">
                        <input type="text" name="Check-in" placeHolder='10/05/2014' data-constraints="@NotEmpty @Required @Date">
                    </label>
                    <div class="clear"></div>
                    <strong>Check-out</strong>
                    <label class="tmDatepicker">
                        <input type="text" name="Check-out" placeHolder='20/05/2014' data-constraints="@NotEmpty @Required @Date">
                    </label>
                    <div class="clear"></div>
                    <div class="tmRadio">
                        <p>Comfort</p>
                        <input name="Comfort" type="radio" id="tmRadio0" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' checked/>
                        <span>Cheap</span>
                        <input name="Comfort" type="radio" id="tmRadio1" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' />
                        <span>Standart</span>
                        <input name="Comfort" type="radio" id="tmRadio2" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' />
                        <span>Lux</span>
                    </div>
                    <div class="clear"></div>
                    <div class="fl1 fl2">
                        <em>Adults</em>
                        <select name="Adults" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
                            <option>1</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <div class="clear"></div>
                        <em>Rooms</em>
                        <select name="Rooms" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
                            <option>1</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="fl1 fl2">
                        <em>Children</em>
                        <select name="Children" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
                            <option>0</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                    <div class="tmTextarea">
                        <textarea name="Message" placeHolder="Message" data-constraints='@NotEmpty @Required @Length(min=20,max=999999)'></textarea>
                    </div>
                    <a href="#" class="btn" data-type="submit">Submit</a>
                </form>
            </div>

        </div>
        <div class="grid_3 prefix_1">
            <h5>CHOOse the country</h5>
            <ul class="list">
                <li><a href="#">Albania</a></li>
                <li><a href="#">American Samoa</a></li>
                <li><a href="#">Antarctica</a></li>
                <li><a href="#">Argentina</a></li>
                <li><a href="#">Armenia</a></li>
                <li><a href="#">Australia</a></li>
                <li><a href="#">Austria</a></li>
                <li><a href="#">Bahrain</a></li>
                <li><a href="#">Barbados</a></li>
                <li><a href="#">Belgium</a></li>
                <li><a href="#">Belize</a></li>
                <li><a href="#">Bermudas</a></li>
            </ul>
            <a href="#" class="link1">VIEW A<span class="low">ll</span></a>
        </div>
    </div>
</div>
<!--==============================footer=================================-->
<footer>
    <div class="container_12">
        <div class="grid_12">
            <div class="socials">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google-plus"></a>
            </div>
            <div class="copy">
                Your Trip (c) 2014 | <a href="#">Privacy Policy</a> | Website Template Designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a>
            </div>
        </div>
    </div>
</footer>
<script>
    $(function (){
        $('#bookingForm').bookingForm({
            ownerEmail: '#'
        });
    })
</script>
</body>
</html>